.btn {
  display: inline-block;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: .8rem 1rem;
  border: 1px solid #000;
  color: #000;
}

.btn:hover {
  background-color: #000;
  color: #fff;
  transition: background-color .15s ease-in-out;
}