* {
  box-sizing: border-box;
}

header {
/*horizontális középre helyezés:*/
  text-align: center;
/*vertikális középre helyezés padding-top és padding-bottom egyenlő értékekkel:*/
  padding-top: 4rem; /*(4rem*16px= 64px)*/
  padding-bottom: 4rem; /*(4rem*16px= 64px)*/
  border-bottom: 1px solid rgba(0,0,0,.1);
}

header img {
  width: 4rem; /*(4rem*16px= 64px)*/
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 100%;
  padding: .25rem; /*(0.25rem*16px= 4px)*/
}

header h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.25rem; /*(1.25rem*16px= 20px)*/
  color: #555;
  margin: .67rem 0; /*(0.67rem*16px= 12px)*/
}

header h2 {
  font-family: "Raleway", sans-serif;
  font-size: .875rem; /*(0.875rem*16px= 14px)*/
  text-transform: uppercase;
  color: #777;
  letter-spacing: .1rem; /*(0.1rem*16px= 1.6px)*/
}